@charset "UTF-8";


@import "default.css";


ul.dropdown li a {
 display: block;
 padding: 7px 10px;
}


ul.dropdown li {
 padding: 0;
}


ul.dropdown li.dir {
 padding: 7px 20px 7px 10px;
}

ul.dropdown ul li.dir {
 padding-right: 15px;
}